html, body {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 0;
  margin: 0 auto;
  height: 100vh;
  background-color: #1E5B98;
}

.container-0 {
  height: 100%;
  width: 790px;
  margin: 0 auto; 
  padding: 0;
  background-color: white;
}

.container-1 {
  text-align: center;
  width: 750px;
  margin: 0 auto;
  padding: 0px 20px 20px 20px;
  background-color: white;
}


.container-2 {
  background: white;
  padding: 0px 20px 20px 20px;
  width: 70%;
  margin: 0 auto;
  border-radius: 20px;
}

.image {
  width: 70%;
}

.table {
  border-collapse: collapse;
  width: 90%;
  margin: 5px auto;
  text-align: center;
}

.table th {
  /*width: 100%;*/
  padding: 12px;
  text-align: left;
  background-color:#1E5B98;
  color: white;
  border: 1px solid;
}

td {
  padding: 5px;
  word-break: break-word;
  border: 1px solid #ddd;
}

.table tr:nth-child(odd){
  background-color: lightgrey;
}

.main-label {
  width: 50%;
  font-weight: bold;
}

.button {  
  font-weight: bold;
  width: fit-content;
  padding: 10px;
  background-color: #DDDDDD;
  color: #1E5B98;
  width: 30%;
  border-radius: 5px;
  border: none;
  margin: 20px;
}

.button:hover {
  cursor: pointer;
  color: white;
  background-color: red;
}

.input {
  width: 50%;
  margin: 20px;
}