.container {
  width: 600px;
  margin: auto;
  padding: 50px;
}

.table {
  margin-top: 50px;
  text-align: center;
  border-collapse: collapse;
}

.table th {
  width: 100px;
  background-color: grey;
  border: 1px solid;
}

td {
  background-color: lightgrey;
}

.main-label {
  width: 50px;
  font-weight: bold;
}

.button {
  width: fit-content;
  margin: 10px;
  padding: 5px;
  background-color: grey;
  border-radius: 5px;
}
